{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock title %}

        {% block body %}

            <form name = "contact_form" id ="contact_form" method="post" action="">
                <input name = "name" type="text">
                <input email = "email" type="email">
                <input message = "message" type = "textArea">
                <input type = "submit" name="submit" value = "Submit">
            </form>

{% endblock %}