{% extends 'base.html.twig' %}

{% block head %}


{% endblock %}

{% block body %}

     <form>
     <div class ="container">
        <div class="form-group align-items-center">
              <div class="col-auto">
                  <div class="pt-4">
              {{ form(contact_form) }}</div>
            </div>
        </div>
     </div>
     </form>



{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

